*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

html{
  width: 80%;
  font-size: 62.5%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.wrapper{
  display: grid;
  grid-template-areas:
  "header header  header"
  "main   main    main"
  "footer footer  footer";
  grid-template-columns: 3fr;
  grid-template-rows: 15vh 70vh 15vh;
}

.header{
  grid-area: header;
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: burlywood;
}

.main{
  grid-area: main;
  display: flex;
  background-color: blueviolet;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


.navbar ul li{
  background-color: #0e86e8;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
        
}


.navbar ul li{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}


.footer{
  grid-area: footer;
  background-color: brown;
}
